{% extends "base.html" %}
{% block title %}
    تماس با بهمن
{% endblock  %}

{% block content %}
<div class="container">
    <h1>تماس با بهمن</h1>
    
    <a href="/" title="صفحه اصلی">صفحه آغازین</a>
    </br>
    <a href="/about/" title="درباره">دربارم میدونی؟</a>
    </br>
    <a href="/services/" title="خدمات">خدمات قابل ارائه</a>
    </br>
    <a href="/contact/" title="تماس بگیر باهام">تماس با من</a>
    </br>
    <a href="/articles/" title="مقالات و اخبار">مقالات</a>

    {% for article in articles %}
    <h2><a href = "{% url 'articles:detail' slug=article.slug %}">{{article.title}}</a></h2>    
    <p>{{article.snippet}}</p>
    <p>{{article.date}}</p>
    {% endfor %}
</div>
{% endblock content %}
       
